.footer {
    padding: 90px 0 80px;

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include a (tablet-xl) {
            flex-direction: column;
            gap: 50px;
        }
    }

    &-item {
        &-1 {
            @include a (tablet-xl) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        &-2 {
            display: flex;
            gap: 90px;

            @include a (mobile) {
                flex-direction: column;
                align-items: center;
                gap: 50px;
            }
        }
    }

    &__logo {
        margin-bottom: 18px;
    }

    &__descr {
        line-height: 27px;
        letter-spacing: 1.15px;
        max-width: 300px;
        width: 100%;
        margin-bottom: 40px;

        @include a (tablet-xl) {
            text-align: center;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__title {
        font-size: toRem(21);
        letter-spacing: 0.5px;
        margin-bottom: 18px;

        @include a (tablet-xl) {
            text-align: center;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 13px;

        @include a (tablet-xl) {
            align-items: center;
        }
    }

    &__item {
        &-link {
            font-size: toRem(14);
            letter-spacing: 0.5px;
            color: $dark-color;

            &:hover {
                color: $accent-color;
            }
        }
    }
}